fastapi==0.110.2
langchain==0.1.16
langchain-community==0.0.34
langchain-core==0.1.45
langchain-google-vertexai==1.0.1
langchain-text-splitters==0.0.1
pydantic==2.7.1
pydantic_core==2.18.2
pytube==15.0.0
requests==2.31.0
tiktoken==0.6.0
tqdm==4.66.2
urllib3==2.2.1
uvicorn==0.29.0
youtube-transcript-api==0.6.2
gunicorn
sse_starlette